<p class="text">Login As</p>
<div class="login">
    <button type="button" class="btn btn-primary">
        <a class="link" href="/teacher/login">Teacher Login</a>
    </button>

    <button type="button" class="btn btn-primary">
        <a class="link" href="/student/login">Student Login</a>
    </button>
</div>